@media (min-width: 1280px) {
    #hero-img {
        top: -50vh;
    }
}
@media (min-width: 1536px) {
    #hero-img {
        top: -60vh;
    }
}
@media (min-width: 1800px) {
    #hero-img {
        top: -65vh;
    }
}
