@media (min-width: 768px) {
    #hero {
        background-position-y: -200px;
    }
}
@media (min-width: 1024px) {
    #hero {
        background-position-y: -300px;
    }
}
@media (min-width: 1280px) {
    #hero {
        background-position-y: -400px;
    }
}
@media (min-width: 1536px) {
    #hero {
        background-position-y: -500px;
    }
}
@media (min-width: 1600px) {
    #hero {
        background-position-y: -600px;
    }
}
@media (min-width: 1650px) {
    #hero {
        background-position-y: -650px;
    }
}
