$lineHeight: 20px;

.term {
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 5px;
  color: lightgreen;
  background-color: black;
  font-family: "Ubuntu Mono", monospace;
  font-size: 16pt;
  line-height: $lineHeight;
  overflow-x: hidden;
  overflow-y: scroll;
  word-wrap: break-word;
  word-break: break-all;
}

.term > span {
  display: inline-block;
  margin-bottom: 1.5px;
  height: $lineHeight;
}

.term > span.term-newline {
  display: inline;
}

.term-cursor {
  color: black;
  background-color: white;
}
